* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    background: white;
    width: 100vw;
    height:100vh;
    overflow:hidden;
}
main {
 display: flex;
 justify-content: center;
 align-items: center;
 width:100%;
 height:100%;
 /* background: red; */
}
.macbook {
    width:100vmin;
    height: auto;
    background: green;
    position:relative; /* could be Absolute or Relative, just need "a" position for the elements inside*/

    display:flex;
    justify-content: center;
}
.macbook-img {
    position:relative;
    width:100%;
    height:100%;
}
.desktop-background {
    position:absolute;
    top:21.9%;
    height:54%;
    width: 64.5%; 
}
.header {
    position: absolute;
    background: grey;
    width:64.5%;
    height:3%;
    top:21.9%;

    display: flex;
    justify-content: space-between;
}
