* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body {
    background: white;
    width: 100vw;
    height:100vh;
    overflow:hidden;
}
main {
 display: flex;
 justify-content: center;
 align-items: center;
 width:100%;
 height:100%;
 background: red;
}

.macbook {
    width:100vmin;
    height: auto;
    background: green;
    position:absolute;

    display:flex;
    justify-content: center;
    align-items: center; 

}

.macbook-img {
    width:100%;
    height:100%;
    position:relative;
}
.desktop-background {
    /* background: pink; */
    position:absolute;
    top:21.9%;
    height:54%;
    width: 64.5%;
  
}

.header {
    background: grey;
    width:64.5%;
    height:3%;
    position: absolute;
    top:21.9%;
}